.home{
    background-color: #EBF2F4;
}

.sidebar{
    padding: 70px 0 300px 15px;
    border-radius: 0 30px 30px 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.page-text{
    color: white;
    opacity: 100%;
    text-decoration: none;
}

.page-item{
    padding: 10px;
    padding-left: 25px;
    padding-right: 70px;
}

.active{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 0 0 10px;
    border-right-style: solid;
    border-color: white;
}


header{
    margin-bottom: 50px;
}

.icon{
    width: 25px;
}

.box-name{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}

.box-one{
    width: 90%;
    height: 190px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 8px #aaaaaa;
    padding: 5px;
    align-items: center;
}

.teacher{
    position: absolute;
    margin-bottom: 52px;
    margin-left: 520px;
}

.box-container{
    margin: auto;
    width: 90%;
}

.box-two{
    width: 35%;
    height: 300px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 8px #aaaaaa;
    padding: 20px;
    align-content: center;
}

.box-three{
    height: 135px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 8px #aaaaaa;
    padding: 5px;
    margin-bottom: 30px;
}

.box-four{
    height: 135px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 8px #aaaaaa;
    padding: 5px;
}

.color-container{
    justify-content: center;
    margin-top: 15px;
}

.pink-box{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: pink;
}

.green-box{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: greenyellow;
}

.correction-text{
    font-size: 14px;
}

.turma-box{
    margin: auto;
    width: 90%;
    line-height: 1px;
    background-color: pink;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    height: 50px;
}

.turma-box-green{
    margin: auto;
    width: 90%;
    line-height: 1px;
    background-color: greenyellow;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    height: 50px;
}

.box-empty{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.check-list{
    justify-content: center;
    line-height: 10px;
}