/* body */
body{
    background-color: #EBF2F4;
}

/* sidebar */
.sidebar{
    padding: 70px 0 300px 15px;
    border-radius: 0 30px 30px 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.can-hover:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 0 0 10px;
}

.page-text{
    color: white;
    text-decoration: none;
}

.page-item{
    padding: 10px;
    padding-left: 25px;
    padding-right: 70px;
    margin-bottom: 10px;
}

.active{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 0 0 10px;
    border-right-style: solid;
    border-color: white;
}

/* header */
.icon{
    width: 25px;
}

.box-name{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-items: center;
}

.box-name p{
    margin-top: 5px;
}