/* body */
body{
    background-color: #EBF2F4;
}

/* sidebar */
.sidebar{
    padding: 70px 0 300px 15px;
    border-radius: 0 30px 30px 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.can-hover:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 0 0 10px;
}

.page-text{
    color: white;
    text-decoration: none;
}

.page-item{
    padding: 10px;
    padding-left: 25px;
    padding-right: 70px;
    margin-bottom: 10px;
}

.active{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 0 0 10px;
    border-right-style: solid;
    border-color: white;
}

/* header */
.icon{
    width: 25px;
}

.box-name{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-items: center;
}

.box-name p{
    margin-top: 5px;
}

/* Aluno Card */
.aluno-card{
    background-color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #aaaaaa;
    padding: 20px;
    margin-bottom: 20px;
}

/* Campos de Edit */
.notas-container{
    display: flex;
    justify-content: space-around;
}

.campo{
    width: 33%;
    text-align: center;
}

.campo input{
    margin: auto;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border-color: #CC2a41;
}

/* Opções */
.opcoes{
    width: 100%;
    justify-content: right;
    margin-top: 40px;
}

/* Botão de Voltar */
.return-button{
    width: 10%;
    padding: 10px;
    border-radius: 30px;
    background-color: #CC2a41;
    border-style: none;
    color: white;
    text-align: center;
    align-content: center;
    margin-left: 20px;
}

.return-button:hover{
    background-color: #e93d57;
    cursor: pointer;
}

.return-button a{
    text-decoration: none;
    color: white;
}

/* Botão de Salvar */
.save-container{
    width: 10%;
}

.save{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: #CC2a41;
    border-style: none;
    color: white;
    text-align: center;
    align-content: center;
}

.save:hover{
    background-color: #e93d57;
    cursor: pointer;
}