/* body */
body{
    background-color: #EBF2F4;
}

/* sidebar */
.sidebar{
    padding: 70px 0 300px 15px;
    border-radius: 0 30px 30px 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.can-hover:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 0 0 10px;
}

.page-text{
    color: white;
    text-decoration: none;
}

.page-item{
    padding: 10px;
    padding-left: 25px;
    padding-right: 67px;
    margin-bottom: 10px;
}

.active{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 0 0 10px;
    border-right-style: solid;
    border-color: white;
}

/* header */
.icon{
    width: 25px;
}

.box-name{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-items: center;
}

.box-name p{
    margin-top: 5px;
}

/* Filtros */
.filter-name{
    width: 33%
}

.filter-name input{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border-color: #CC2a41;
}

.filter-button{
    width: 10%;
}

.filter-button button{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: #CC2a41;
    border-style: none;
    color: white;
}

.filter-button button:hover{
    background-color: #e93d57;
    cursor: pointer;
}

/* Aluno Card */
.cards{
    margin-top: 30px;
    height: 500px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.coluna-esquerda{
    width: 47%;
}

.coluna-direita{
    width: 47%;
}

.aluno-card{
    background-color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #aaaaaa;
    padding: 20px;
    margin-bottom: 20px;
}

.aluno-adicionar{
    align-self: center;
    text-align: center;
}

.botao-adicionar{
    background-color: #CC2a41;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
    margin: auto;
}

.botao-adicionar a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: auto;
}